<?xml version="1.0" encoding="utf-8"?>
<config>
  <dl>DalObject</dl>
  <dl-packages>
	  <DalObject namespace="DAL" class="DalObject">DalObject</DalObject>
	  <DaLXML namespace="DAL" class="DaLXML">DaLXml</DaLXML>
    <!--<oracle namespace="DL_O" class="DLDbOracle">DLOracle</oracle>-->
  </dl-packages>
</config>